
/*Nombre: Sleitter Trinidad Matricula: 16-EIIT-1-098  Seccion: 0541*/





USE [master]
GO
/****** Object:  Database [Game Art.]    Script Date: 12/22/2020 7:55:44 AM ******/
CREATE DATABASE [Game Art.]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tecno Tec.', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019CORE\MSSQL\DATA\Tecno Tec..mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tecno Tec._log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019CORE\MSSQL\DATA\Tecno Tec._log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Game Art.].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Game Art.]
GO
/****** Object:  Table [dbo].[Datos Empleados]    Script Date: 12/22/2020 7:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datos Empleados](
	[Nombre] [varchar](20) NOT NULL,
	[Apellido] [varchar](20) NOT NULL,
	[Departamento] [varchar](25) NOT NULL,
	[Salario] [decimal](11, 2) NOT NULL,
	[Posicion] [varchar](40) NOT NULL,
	[Seguro Medico] [varchar](20) NOT NULL,
	[Jefe inmediato] [varchar](30) NULL,
	[Codigo de Empleado] [int] NOT NULL,
 CONSTRAINT [PK_Datos Empleados] PRIMARY KEY CLUSTERED 
(
	[Codigo de Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deduciones]    Script Date: 12/22/2020 7:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deduciones](
	[Nombre] [varchar](20) NOT NULL,
	[Apellido] [varchar](20) NOT NULL,
	[Ahorros] [numeric](11, 2) NULL,
	[Deudas] [numeric](11, 2) NULL,
	[Descuento seguro Medico] [numeric](11, 2) NOT NULL,
	[Codigo Empleado] [int] NOT NULL,
 CONSTRAINT [PK_Deduciones] PRIMARY KEY CLUSTERED 
(
	[Codigo Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 12/22/2020 7:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Nombre] [varchar](20) NOT NULL,
	[Apellido] [varchar](20) NOT NULL,
	[Cedula] [numeric](11, 0) NOT NULL,
	[Fecha de Nacimiento] [date] NOT NULL,
	[Edad] [varchar](4) NOT NULL,
	[Sexo] [varchar](1) NOT NULL,
	[Tipo de Samgre] [varchar](3) NOT NULL,
	[Telefono] [numeric](12, 0) NOT NULL,
	[Codigo de Empleado] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[Codigo de Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 12/22/2020 7:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[Consolas] [varchar](20) NOT NULL,
	[Modelo] [varchar](15) NULL,
	[Precios] [decimal](10, 2) NOT NULL,
	[Fecha de publicacion] [date] NOT NULL,
	[ConsolaID] [int] NOT NULL,
	[Codigo de Compra] [int] IDENTITY(14030,1) NOT NULL,
 CONSTRAINT [PK_Equipos] PRIMARY KEY CLUSTERED 
(
	[ConsolaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video Juegos]    Script Date: 12/22/2020 7:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video Juegos](
	[Juegos] [varchar](30) NOT NULL,
	[Consola] [varchar](20) NOT NULL,
	[Fecha de publicacion] [date] NOT NULL,
	[Formato] [varchar](15) NOT NULL,
	[Espacio de almacenamiento] [varchar](6) NOT NULL,
	[Precios] [decimal](8, 2) NOT NULL,
	[Genero] [varchar](15) NOT NULL,
	[Clasificacion] [varchar](3) NULL,
	[Codigo de Compra] [int] IDENTITY(18030,1) NOT NULL,
	[ConsolaID] [int] NOT NULL,
 CONSTRAINT [PK_Video Juegos] PRIMARY KEY CLUSTERED 
(
	[Codigo de Compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Datos Empleados] ([Nombre], [Apellido], [Departamento], [Salario], [Posicion], [Seguro Medico], [Jefe inmediato], [Codigo de Empleado]) VALUES (N'Mark', N'Smith', N'Administracion', CAST(500000.00 AS Decimal(11, 2)), N'CEO', N'SENASA', NULL, 1)
INSERT [dbo].[Datos Empleados] ([Nombre], [Apellido], [Departamento], [Salario], [Posicion], [Seguro Medico], [Jefe inmediato], [Codigo de Empleado]) VALUES (N'Oscar', N'Valdez', N'Produccion', CAST(350000.00 AS Decimal(11, 2)), N'Gerente', N'ARS PALIC', N'Mark', 2)
INSERT [dbo].[Datos Empleados] ([Nombre], [Apellido], [Departamento], [Salario], [Posicion], [Seguro Medico], [Jefe inmediato], [Codigo de Empleado]) VALUES (N'Rene', N'Sarante', N'Produccion', CAST(200000.00 AS Decimal(11, 2)), N'Ingeniero de planta', N'SENASA', N'Oscar', 3)
GO
INSERT [dbo].[Deduciones] ([Nombre], [Apellido], [Ahorros], [Deudas], [Descuento seguro Medico], [Codigo Empleado]) VALUES (N'Mark', N'Smith', CAST(500000.00 AS Numeric(11, 2)), NULL, CAST(1500.00 AS Numeric(11, 2)), 1)
INSERT [dbo].[Deduciones] ([Nombre], [Apellido], [Ahorros], [Deudas], [Descuento seguro Medico], [Codigo Empleado]) VALUES (N'Oscar', N'Valdez', CAST(600000.00 AS Numeric(11, 2)), CAST(50000.00 AS Numeric(11, 2)), CAST(1200.00 AS Numeric(11, 2)), 2)
INSERT [dbo].[Deduciones] ([Nombre], [Apellido], [Ahorros], [Deudas], [Descuento seguro Medico], [Codigo Empleado]) VALUES (N'Rene', N'Sarante', CAST(250000.00 AS Numeric(11, 2)), CAST(60000.00 AS Numeric(11, 2)), CAST(1000.00 AS Numeric(11, 2)), 3)
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([Nombre], [Apellido], [Cedula], [Fecha de Nacimiento], [Edad], [Sexo], [Tipo de Samgre], [Telefono], [Codigo de Empleado]) VALUES (N'Mark', N'Smith', CAST(40269753154 AS Numeric(11, 0)), CAST(N'1980-01-02' AS Date), N'40', N'M', N'AB-', CAST(8496753164 AS Numeric(12, 0)), 1)
INSERT [dbo].[Empleados] ([Nombre], [Apellido], [Cedula], [Fecha de Nacimiento], [Edad], [Sexo], [Tipo de Samgre], [Telefono], [Codigo de Empleado]) VALUES (N'Oscar', N'Valdez', CAST(20726431597 AS Numeric(11, 0)), CAST(N'1985-03-06' AS Date), N'35', N'M', N'A+', CAST(8296543791 AS Numeric(12, 0)), 2)
INSERT [dbo].[Empleados] ([Nombre], [Apellido], [Cedula], [Fecha de Nacimiento], [Edad], [Sexo], [Tipo de Samgre], [Telefono], [Codigo de Empleado]) VALUES (N'Rene', N'Sarante', CAST(40265489751 AS Numeric(11, 0)), CAST(N'1990-05-07' AS Date), N'30', N'M', N'A-', CAST(8497893164 AS Numeric(12, 0)), 3)
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipos] ON 

INSERT [dbo].[Equipos] ([Consolas], [Modelo], [Precios], [Fecha de publicacion], [ConsolaID], [Codigo de Compra]) VALUES (N'Action Max', N'GT315', CAST(90.00 AS Decimal(10, 2)), CAST(N'2007-05-15' AS Date), 524, 14045)
INSERT [dbo].[Equipos] ([Consolas], [Modelo], [Precios], [Fecha de publicacion], [ConsolaID], [Codigo de Compra]) VALUES (N'Amstrad ', N'GX1000', CAST(100.00 AS Decimal(10, 2)), CAST(N'2010-03-15' AS Date), 624, 14044)
INSERT [dbo].[Equipos] ([Consolas], [Modelo], [Precios], [Fecha de publicacion], [ConsolaID], [Codigo de Compra]) VALUES (N'Amstrad ', N'GX1500', CAST(125.00 AS Decimal(10, 2)), CAST(N'2014-05-13' AS Date), 724, 14043)
SET IDENTITY_INSERT [dbo].[Equipos] OFF
GO
SET IDENTITY_INSERT [dbo].[Video Juegos] ON 

INSERT [dbo].[Video Juegos] ([Juegos], [Consola], [Fecha de publicacion], [Formato], [Espacio de almacenamiento], [Precios], [Genero], [Clasificacion], [Codigo de Compra], [ConsolaID]) VALUES (N'Castlevania 3', N'Vectrex X', CAST(N'2020-04-15' AS Date), N'CD', N'85GB', CAST(85.00 AS Decimal(8, 2)), N'Accion', N'18+', 18032, 1524)
INSERT [dbo].[Video Juegos] ([Juegos], [Consola], [Fecha de publicacion], [Formato], [Espacio de almacenamiento], [Precios], [Genero], [Clasificacion], [Codigo de Compra], [ConsolaID]) VALUES (N'Ghost’n Goblins', N'Vectrex X', CAST(N'2020-04-15' AS Date), N'CD', N'80GB', CAST(80.00 AS Decimal(8, 2)), N'Accion', N'16+', 18033, 1524)
INSERT [dbo].[Video Juegos] ([Juegos], [Consola], [Fecha de publicacion], [Formato], [Espacio de almacenamiento], [Precios], [Genero], [Clasificacion], [Codigo de Compra], [ConsolaID]) VALUES (N'Operation Wolf', N'Vectrex X', CAST(N'2020-05-20' AS Date), N'CD', N'77GB', CAST(70.00 AS Decimal(8, 2)), N'Accion', N'16+', 18035, 1524)
SET IDENTITY_INSERT [dbo].[Video Juegos] OFF
GO
ALTER TABLE [dbo].[Datos Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Datos Empleados_Empleados] FOREIGN KEY([Codigo de Empleado])
REFERENCES [dbo].[Empleados] ([Codigo de Empleado])
GO
ALTER TABLE [dbo].[Datos Empleados] CHECK CONSTRAINT [FK_Datos Empleados_Empleados]
GO
ALTER TABLE [dbo].[Deduciones]  WITH CHECK ADD  CONSTRAINT [FK_Deduciones_Empleados] FOREIGN KEY([Codigo Empleado])
REFERENCES [dbo].[Empleados] ([Codigo de Empleado])
GO
ALTER TABLE [dbo].[Deduciones] CHECK CONSTRAINT [FK_Deduciones_Empleados]
GO
ALTER TABLE [dbo].[Video Juegos]  WITH CHECK ADD  CONSTRAINT [FK_Video Juegos_Equipos] FOREIGN KEY([ConsolaID])
REFERENCES [dbo].[Equipos] ([ConsolaID])
GO
ALTER TABLE [dbo].[Video Juegos] CHECK CONSTRAINT [FK_Video Juegos_Equipos]
GO
USE [master]
GO
